@using Bakery.Models;
@{
  Layout = "_Layout";
}

 
 <div class="container">
  
  <h1>Orders for @Model["vendor"].Name</h1> 

  @if (@Model["orders"].Count >= 1)
  {
    <table class="blueTable">
    <thead>
      <tr>
        <th>#ID</th>
        <th>Order Title</th>
      </tr>
    </thead>
    <tfoot></tfoot>
    <tbody>

    @foreach (Order order in @Model["orders"])
    {
    
      <tr>
        <td>wa# @order.Id</td>
        <td><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title </a></td>
      </tr> 
    }

    </tbody>
    </table>  
  }
  
  <p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add Order</a></p>
  <p><a href="/vendors">Return to Vendors</a></p>
  <p><a href="/">Return to Homepage</a></p>
  
 </div>













